@model IEnumerable<AllTrails.Models.Trail>

@{
    ViewData["Title"] = "Index";
}

<h1>Trails</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.LengthKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthMetres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElevationGainMetres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.ImageUrl != null)
                {
                    <img src="@item.ImageUrl" class="thumbnail" />
                }
                else
                {
                   <div>placeholder image goes here...</div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.LengthKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthMetres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElevationGainMetres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDuration)
            </td>
            <td>
                <div class="mb-2">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>                     
                    
                <a asp-controller="TripReports" asp-action="Create" asp-route-trailId="@item.Id">Add comment</a>
            </td>
        </tr>
}
    </tbody>
</table>
